*{
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
}

body{
	background-image: url('http://photos.up-wallpaper.com/images253/325u2bdxddp.jpg');
}
#header{
	width: 80%;
	margin: 0 auto;
	height: 150px;
	background-color: white;
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px;
}

#headerUp{
	width: 100%;
	height: 100px;
	background: black;
	}
	
#naslov{
	width: 49%;
}

#naslov h1{
	font-size: 48px;
	color: yellow;
	text-align: right;
	padding-right:  30px;
}

#logovanje{
	float: right;
	width: 51%;
	margin-top: -35px;
}

#navigacija{
	width: 100%;
	height: 50px;
	background: black;
}
#navigacijaTable{
	width: 100%;
	
}


#navigacija td{
	width: 15%;
	height: 40px;
	background-color: yellow;
	font-size: 20px;
	border-radius: 5px;
	text-align: center;
	border: 2px solid highlight;
}

#navigacija td a{
	text-decoration: none;
	color: black;
}


.naslov{
	
	background: highlight;
	color: yellow;
	border: 1px solid black;
	font-size:20px;
}



.tabela{
	font-weight:bold;
	
}




.komentarN{
	
	color:red;
	border-bottom: 0px ;
}
.komentarT{
	font-size:14px;
}

.tdi{
	text-decoration: none;
	color:red;
}
#navigacija td li {
	list-style:none;
	text-decoration: none;
	color: white;
}

#navigacija td a:hover{
	color: highlight;
	cursor: pointer;
}
#body{
	font-family: sans-serif;
	width: 80%;
	margin: 0 auto;
	margin-top: 80px;
	background-color: yellow;
	border-radius: 10px;
}

#listaVozila{
	width: 100%;
	padding: 10px;
}

#listaVozila td{
	padding-left: 10px;
	
	
	border-bottom: thin;
	border-bottom-style: solid;
	border-right-color: gray;
}

#filtriranje{
	margin: 0 auto;
	width: 80%;
	margin-top: 20px;
	margin-bottom: 10px;
	
}

#welcome{
	clear:both;
	color:yellow;
	float:right;
	font-size:20px;
}

h4 {
  margin-top: 25px;
}
.row {
  margin: 20px 1px;
}

.row .row {
  margin-top: 10px;
  margin-bottom: 0;
}
[class*="col-"] {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: rgba(86,61,124,.15);
  border: 1px solid #ddd;
  border: 1px solid rgba(86,61,124,.2);
}

hr {
  margin-top: 40px;
  margin-bottom: 40px;
}

#rowTitle{
	background: rgb(0,38,62);
	color:#eee;
	font-weight:bold;
}

#rowBook{
    margin: -20px -0px 0px 0px;	
}


#rowBookBtn{
	padding-top:0px;
	padding-bottom:0px;
	    margin: -20px -0px 0px 0px;	
	
}


.btnAR{
	background: rgb(0,38,62);
	color: #eee;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
    padding-top: 10px;
    border-radius: 5px;
}

.btnAR a: hover{
	text-decoration: none;
	color:#fed142;
}

#subSel{
	margin-top:10px;
	width:100px;
	
}


#setUser{
	background: rgb(0,38,62);
    color: #eee;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
    padding-top: 10px;
    border-radius: 5px;
}


h5{
	  text-decoration: underline;
}

.crveno{
	
	color:red;
	font-size: 18px;
	font-weight: bold;
}
}


