*{
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
}

.naslovKnjige{
	text-align:center;
}
body{
	background-image: url('http://photos.up-wallpaper.com/images253/325u2bdxddp.jpg');
}
#header{
	width: 80%;
	margin: 0 auto;
	height: 150px;
	background-color: white;
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px;
}

#headerUp{
	width: 100%;
	height: 100px;
	background: black;
	}
	
#naslov{
	width: 49%;
}

#naslov h1{
	font-size: 48px;
	color: yellow;
	text-align: right;
	padding-right:  30px;
}

#logovanje{
	float: right;
	width: 51%;
	margin-top: -35px;
}

#navigacija{
	width: 100%;
	height: 50px;
	background: black;
}
#navigacijaTable{
	width: 100%;
	
}


#navigacija td{
	width: 15%;
	height: 40px;
	background-color: yellow;
	font-size: 20px;
	border-radius: 5px;
	text-align: center;
	border: 2px solid highlight;
}

#navigacija td a{
	text-decoration: none;
	color: black;
}


.naslov{
	
	background: highlight;
	color: yellow;
	border: 1px solid black;
	font-size:20px;
}



.tabela{
	font-weight:bold;
	
}




.komentarN{
	
	color:red;
	border-bottom: 0px ;
}
.komentarT{
	font-size:14px;
}

.tdi{
	text-decoration: none;
	color:red;
}
#navigacija td li {
	list-style:none;
	text-decoration: none;
	color: white;
}

#navigacija td a:hover{
	color: highlight;
	cursor: pointer;
}
#body{
	font-family: sans-serif;
	width: 80%;
	margin: 0 auto;
	margin-top: 80px;
	background-color: yellow;
	border-radius: 10px;
}

#listaVozila{
	width: 100%;
	padding: 10px;
}

#listaVozila td{
	padding-left: 10px;
	
	
	border-bottom: thin;
	border-bottom-style: solid;
	border-right-color: gray;
}

#filtriranje{
	margin: 0 auto;
	width: 80%;
	margin-top: 20px;
	margin-bottom: 10px;
	
}

#welcome{
	clear:both;
	color:yellow;
	float:right;
	font-size:20px;
}

h4 {
  margin-top: 25px;
}
.row {
  margin-top: 20px;
  margin-right:5px; 
}

.row .row {
  margin-top: 10px;
  margin-bottom: 0;
}
[class*="col-"] {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: rgba(86,61,124,.15);
  border: 1px solid #ddd;
  border: 1px solid rgba(86,61,124,.2);
}

hr {
  margin-top: 40px;
  margin-bottom: 40px;
}

#rowTitle{
	background: rgb(0,38,62);
	color:#eee;
	font-weight:bold;
}

#rowBook{
    margin: -20px -0px 0px 0px;	
}


#rowBookBtn{
	padding-top:0px;
	padding-bottom:0px;
	    margin: -20px -0px 0px 0px;	
	
}


.btnAR{
	background: rgb(0,38,62);
	color: #eee;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
    padding-top: 10px;
    border-radius: 5px;
}

.btnAR a: hover{
	text-decoration: none;
	color:#fed142;
}

#subSel{
	margin-top:10px;
	width:100px;
	
}


#setUser{
	background: rgb(0,38,62);
    color: #eee;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
    padding-top: 10px;
    border-radius: 5px;
}


h5{
	  text-decoration: underline;
}

.crveno{
	
	color:red;
	font-size: 18px;
	font-weight: bold;
}

#naslovKnjige{
	text-align:center;
	text-decoration:underline;
}

@import "bourbon";

$color_purple: #5133AB;
$color_red: #AC193D;
$color_orange: #DC572E;
$color_green: #00A600;
$color_blue: #2672EC;

// colors from http://www.creepyed.com/2012/09/windows-8-colors-hex-code/

$base_font_size: 14px;
$base_line_height: 1.5em;
$text_font_family: 'Open Sans', "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
$display_font_family: 'Open Sans', "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;

body {
	font-family: $text_font_family;
	font-size: $base_font_size;
	line-height: $base_line_height;
	font-weight: 400;
}

p, span, a, ul, li, button {
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
	line-height: inherit;
}

strong {
	font-weight: 600;
}

h1, h2, h3, h4, h5, h6 {
	font-family: $display_font_family;
	line-height: $base_line_height;
	font-weight: 300;	
}

strong {
  font-weight: 400;
}

.tile {  
  width: 100%;
	display: inline-block;
	box-sizing: border-box;
	background: #fff;		
	padding: 20px;
	margin-bottom: 30px;
  
  .title {
		margin-top: 0px;
	}
  
  &.purple, &.blue, &.red, &.orange, &.green {
    color: #fff;
  }
  
  &.purple {
    background: $color_purple;

		&:hover {
			background: darken($color_purple, 10%);
		}		
  }
  
  &.red {
    background: $color_red;

		&:hover {
			background: darken($color_red, 10%);
		}		
  }
  
  &.green {
    background: $color_green;

		&:hover {
			background: darken($color_green, 10%);
		}		
  }
  
  &.blue {
    background: $color_blue;

		&:hover {
			background: darken($color_blue, 10%);
		}	
  }
  
  &.orange {
    background: $color_orange;

		&:hover {
			background: darken($color_orange, 10%);
		}	
  }
}
