*{
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
}

body{
		background-image: url('http://one-div.com/codepen/bg.jpg') ;    
}

#container{
	text-align: center;
	background-color: white;
	width: 67%;
	margin: 0 auto;
}

#container img{
	width: 100%;
}

#container p{
	font-size: 44px;
	color: red;
	font-family: serif;
	padding-bottom: 10px;
}

